// type
$celebrity-sans-serif-font: Helvetica, Arial, sans-serif;
$celebrity-serif-font: 'Playfair Display', Georgia, serif;

// body
$default-body-font-size: 18px;
$default-body-font-weight: 400;
$default-body-line-height: $default-body-font-size * 1.5;

// heading
$default-heading-font-size: 24px;
$default-heading-line-height: $default-heading-font-size * 1.8;
$light-heading-font-weight: 400;
$default-heading-font-weight: 700;
$heavy-heading-font-weight: 900;
