$bottom-white-space: $default-heading-font-size / 1.5;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $celebrity-serif-font;
  font-weight: $default-heading-font-weight;
  margin: $default-heading-font-size 0 $bottom-white-space;
}

h1,
h2,
h3 {
  color: $green-dark-2;
}

h4,
h5,
h6 {
  color: $blue-dark-2;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 160%;
  font-weight: $light-heading-font-weight;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h5 {
  font-size: 110%;
}

