header {
  background-color: $acqua-dark-2;
  font-family: $celebrity-serif-font;
  font-weight: $heavy-heading-font-weight;
  padding: 10px 20px 20px;
}

header nav {
  padding-bottom: 20px;
  a  {
    background-color: $acqua-dark-1;
    color: $almost-white;
    display: inline-block;
    margin: 8px 6px 0 0;
    padding: 12px;
    padding-top: 10px;
    text-decoration: none;

    &.dev {
      background-color: $yellow-dark-2;
      font-family: 'Dosis', sans-serif;
      font-weight: $light-heading-font-weight;
      letter-spacing: 0.0714em;
      text-transform: uppercase;
    }

    &.home {
      background: none;
      font-size: 2.5em;
      font-style: italic;
      font-weight: $default-heading-font-weight;
      letter-spacing: 0.01em;
      padding-bottom: 0;
      vertical-align: bottom;
    }
  }
}
