<form
  method="POST"
  action="/game_overview"
>
  <h2>Create a game</h2>
  <p>Required fields are followed by <strong><abbr title="required">*</abbr></strong>.</p>

  <fieldset>
    <legend>Enter your details</legend>
    <label
      for="player_name"
    >
      Your name
      <strong><abbr title="required">*</abbr></strong>
      <input
        type="text"
        name="player_name"
        id="player_name"
        placeholder="Enter your name"
      >
    </label>
  </fieldset>

  <fieldset>
    <legend>Your Clues <strong><abbr title="required">*</abbr></strong></legend>

    <label
      class="clue-label"
      for="clue_1"
    >
      Clue 1
    </label>
    <input
      type="text"
      name="clue_1"
      placeholder="Clue 1"
    >

    <label for="clue_2"
      class="clue-label"
    >
      Clue 2
    </label>
    <input
      type="text"
      name="clue_2"
      placeholder="Clue 2"
    >

    <label for="clue_3"
      class="clue-label"
    >
      Clue 3
    </label>
    <input
      type="text"
      name="clue_3"
      placeholder="Clue 3"
    >

    <label for="clue_4"
      class="clue-label"
    >
      Clue 4
    </label>
    <input
      type="text"
      name="clue_4"
      placeholder="Clue 4"
    >

    <label for="clue_5"
      class="clue-label"
    >
      Clue 5
    </label>
    <input
      type="text"
      name="clue_5"
      placeholder="Clue 5"
    >
  </fieldset>

  <button type="submit">
    Create Game!
  </button>
</form>
