<h2>Game Details</h2>
<p>Welcome! Here is everyone who has been invited to the game so far.</p>

<h4>Players</h4>
<% if @players %>
  <ul>
    <% @players.each do | player | %>
      <% if player == @creator_name %>
        <li><%= player %>, <em>game creator</em></li>
      <% else %>
        <li><%= player %>, <em>invited but not joined</em></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= erb :invite %>
