<h2>Game Details</h2>
<div class="status">Status: <%= @status %></div>
<p>Welcome! Here is everyone who has been invited to the game so far.</p>
<h4>Players</h4>
<ul class="joined-players">
  <% @players.each do | player | %>
      <li><%= player.name %></li>
  <% end %>
</ul>
<a href=<%= @game_join_url %>>Click to join!</a>
