<!-- header -->
<header>
  <nav>
    <a class="logo" href="/">Celebrity!</a>
    <a href="how_to_play">How to Play</a>
    <a href="game_overview">Your Game</a>
    <a href="/join">Join</a>
    <a href="/clear">Clear</a>
  </nav>
</header>
<!-- / header -->
