<!-- header -->
<header>
  <a href="/">Celebrity</a>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="how_to_play">How to Play</a>
    </li>
    <li>
      <a href="game_overview">Your Game</a>
    </li>
    <li>
      <a href="/join">Join</a>
    </li>
    <li>
      <a href="/clear">Clear</a>
    </li>
  </ul>
</header>
<!-- / header -->
