<article>
  <h1>How to Play Celebrity</h1>

  <h2>Invite players</h2>
  <p>You'll need a minimum of six players to start a game.</p>

  <h2>Everyone submits "celebrity" clues</h2>
  <p>Celebrities can be anyone or anything that is considered "famous," which generally means that at least three players in the game know the celebrity.</p>

  <h2>Everyone is assigned to a team</h2>
  <p>Teams are assigned after clues are submitted so that clues can't be tailored to teammates. Player order is set at the start of the game.</p>

  <h2>Play</h2>
  <p>Game play happens in 60-second turns over the course of three rounds.</p>

  <h3>Turns</h3>
  <p>Each turn, a new player is the _clue-er_. The _clue-er_ and her or his team are the only active people in the turn. All other players listen to all the clues for future turns and future rounds.</p>

  <p>The goal of the _clue-er_ is to get teammates to guess as many clues as possible in 60 seconds. If a clue is guessed, the team gets one point. If the _clue-er_ decides to skip a clue, the team loses a point.</p>

  <p>At the end of the turn, points for the turn get added to the team's score.</p>

  <h3>Rounds</h3>
  <p>The game is comprised of three rounds, and a given round ends when all clues have been guessed.</p>

  <h4>Round 1: Any number of words</h4>
  <p>_Clue-ers_ in round one can use any number of words to describe the clue. _Clue-ers_ can't use rhyming words or charades.</p>

  <h4>Round 2: One word</h4>
  <p>In round two, clues are shuffled then reused. _Clue-ers_ in round two can only use one word to describe the clue. _Clue-ers_ can use the single word repeatedly in a song (ie, clue Santa Claus by saying "ho ho ho" to the tune of "Rudolph the Rednosed Reindeer"). Remember that the clues are the same from the first round, so everyone has already heard the clue and a description at least once.</p>

  <h4>Round 3: No words</h4>
  <p>In round three, clues are shuffled then reused. _Clue-ers_ can't say anything this round--only acting. This will be the third time everyone has heard each clue.</p>

  <h2>Game end</h2>
  <p>The team with the most points after all three rounds wins the game.</p>
</article>
