<h4>Invite Players</h4>
<form
  method="post"
  accept-charset="utf-8"
  action="/invite"
>
  <label
    for="invite_email">
    Invite player:
    <input type="text" name="invite_email">
  </label>
  <button type="submit">Invite Player</button>
</form>
