<h2>Join a game of Celebrity!</h2>
<p>Fill out the form below to join the game.</p>


<!-- form -->
<form
  method="post"
>
  <p>Required fields are followed by <strong><abbr title="required">*</abbr></strong>.</p>

  <fieldset>
    <legend>About You</legend>
    <label for="player_name">
      Your Name <strong><abbr title="required">*</abbr></strong>
    </label>
    <input
      name="player_name"
      type="text"
      placeholder="First Last"
    >
  </fieldset>

  <fieldset>
    <legend>Your Clues <strong><abbr title="required">*</abbr></strong></legend>

    <label
      class="clue-label"
      for="clue_1"
    >
      Clue 1
    </label>
    <input
      type="text"
      name="clue_1"
      placeholder="Clue 1"
    >

    <label for="clue_2"
      class="clue-label"
    >
      Clue 2
    </label>
    <input
      type="text"
      name="clue_2"
      placeholder="Clue 2"
    >

    <label for="clue_3"
      class="clue-label"
    >
      Clue 3
    </label>
    <input
      type="text"
      name="clue_3"
      placeholder="Clue 3"
    >

    <label for="clue_4"
      class="clue-label"
    >
      Clue 4
    </label>
    <input
      type="text"
      name="clue_4"
      placeholder="Clue 4"
    >

    <label for="clue_5"
      class="clue-label"
    >
      Clue 5
    </label>
    <input
      type="text"
      name="clue_5"
      placeholder="Clue 5"
    >
  </fieldset>
  <button type="submit">Join Game!</button>
</form>
