<!-- form -->
<h2>Join the game</h2>
<form
  action="/join"
  method="post"
>
  <fieldset>
    <legend>Your details</legend>
    <label for="name">
      Your Name
    </label>
    <input
      id="name"
      type="text"
      placeholder="Your Name"
    >

    <label for="email">
      Your Email
    </label>
    <input
      id="email"
      type="email"
      placeholder="Your Email"
    >
  </fieldset>

  <fieldset>
    <legend>Your Clues</legend>
    <label for="clue_1">
      <input
        type="text"
        name="clue_1"
        placeholder="Clue 1"
      >
    </label>

    <label for="clue_2">
      <input
        type="text"
        name="clue_2"
        placeholder="Clue 2"
      >
    </label>

    <label for="clue_3">
      <input
        type="text"
        name="clue_3"
        placeholder="Clue 3"
      >
    </label>

    <label for="clue_4">
      <input
        type="text"
        name="clue_4"
        placeholder="Clue 4"
      >
    </label>

    <label for="clue_5">
      <input
        type="text"
        name="clue_5"
        placeholder="Clue 5"
      >
    </label>
  </fieldset>
  <button type="submit">Join Game!</button>
</form>
