<h4>Join the Game</h4>
<form
  method="post"
  accept-charset="utf-8"
  action="/join"
>
  <label for="join_email">
    Your Email:
    <input
      type="email"
      name="join_email"
    >
  </label>
  <br>

  <label for="clue_1">
    Clue 1:
    <input
      type="text"
      name="clue_1"
    >
  </label>
  <br>

  <label for="clue_2">
    Clue 2:
    <input
      type="text"
      name="clue_2"
    >
  </label>
  <br>

  <label for="clue_3">
    Clue 3:
    <input
      type="text"
      name="clue_3"
    >
  </label>
  <br>


  <label for="clue_4">
    Clue 4:
    <input
      type="text"
      name="clue_4"
    >
  </label>
  <br>

  <label for="clue_5">
    Clue 5:
    <input
      type="text"
      name="clue_5"
    >
  </label>
  <br>


  <button type="submit">Join Game</button>
</form>
