<html>
<head>
  <title>Celebrity!</title>
</head>
<body>
  <h1>Celebrity!</h1>
  <a href="/">Home</a> | <a href="/how_to_play">How to Play</a>

  <section>
    <%= yield %>
  </section>
</body>
</html>
