<html>
<head>
  <title>Celebrity!</title>
  <link rel="stylesheet" media="screen, projection" href="/styles/main.css">

</head>
<body>
  <h1>Celebrity!</h1>
  <a href="/">Home</a>
  <br>
  <a href="/how_to_play">How to Play</a>
  <br>
  <a href="/game_overview">Game Overview</a>
  <br>
  <br>
  <a href="/clear">Clear</a>

  <section>
    <%= yield %>
  </section>
</body>
</html>
