<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Celebrity the game.">
  <title>Celebrity</title>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/styles/reset.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/main.css"/>
</head>
<body>
  <!-- header -->
  <header>
    <nav class="home">
      <a href="/">Celebrity!</a>
    </nav>
    <nav>
      <a href="how_to_play">Rules</a>
    </nav>

    <!-- show conditionally if in dev env -->
    <nav class="dev">
      <a href="/sample-game">See Sample Game</a>
      <br>
      <a href="/clear">// Clear Session</a>
    </nav>
  </header>
  <!-- / header -->


  <section class="container">
    <%= yield %>
  </section>

  <!-- footer -->
  <footer>
    <p>Fun for everyone!</p>
  </footer>
  <!-- / footer -->
</body>
</html>
