<div class="stylesheet">

  <div class="stylesheet-column">
    <h1>Heading 1</h1>
    <h4>Heading 4</h4>
    <p><strong>Paragraph</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolore eu fugiat nulla pariatur.</p>
    <h2>Heading 2</h2>
    <h5>Heading 5</h5>
    <p><strong>Paragraph</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis esse cillum dolore eu fugiat nulla pariatur.</p>
    <h3>Heading 3</h3>
    <h6>Heading 6</h6>
    <p><strong>Paragraph</strong> Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in pariatur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis esse cillum dolore eu fugiat nulla pariatur.</p>

    <h2>List 1</h2>
    <ul>
      <li>Star-Lord</li>
      <li>Rocket Racoon</li>
      <li>Groot</li>
    </ul>
  </div>

  <div class="stylesheet-column">
    <form>
      <h2>A Form Headline</h2>
      <p>Required fields have <strong><abbr title="required">*</abbr></strong>.</p>

      <fieldset>
        <legend>Section 1</legend>
        <label for="la">Name<strong><abbr title="required">*</abbr></strong>
          <input
            type="text"
            id="la"
            placeholder="Name"
          >
        </label>
      </fieldset>

      <fieldset>
        <legend>Your Clues <strong><abbr title="required">*</abbr></strong></legend>

        <label for="fa">Clue 1</label>
        <input
          type="text"
          id="fa"
          placeholder="Actor"
        >
      </fieldset>

      <button type="submit">Create Game!</button>
    </form>

    <h1>Great Job!</h1>
    <h3>You got <span class="callout-letters">10</span> points</h3>
    <p>Your team guessed these clues correctly:</p>
    <ul>
      <li>Johnny Cash</li>
      <li>Elvis</li>
      <li>Dolly Parton</li>
      <li>The Beatles</li>
      <li>Hank Williams</li>
      <li>George Michael</li>
    </ul>
    <button type="submit">Next Player</button>
  </div>

  <div class="stylesheet-column">
    <div class="colors">
      <h3>Colors</h3>
      <div class="color color-acqua-dark-2"><span></span><pre>$acqua-dark-2</pre></div>
      <div class="color color-acqua-dark-1"><span></span><pre>$acqua-dark-1</pre></div>
      <div class="color color-blue-dark-2"><span></span><pre>$blue-dark-2</pre></div>
      <div class="color color-blue-dark-1"><span></span><pre>$blue-dark-1</pre></div>
      <div class="color color-blue-light-1"><span></span><pre>$blue-light-1</pre></div>
      <div class="color color-blue-light-2"><span></span><pre>$blue-light-2</pre></div>
      <div class="color color-green-dark-2"><span></span><pre>$green-dark-2</pre></div>
      <div class="color color-green-dark-1"><span></span><pre>$green-dark-1</pre></div>
      <div class="color color-purple-dark-2"><span></span><pre>$purple-dark-2</pre></div>
      <div class="color color-purple-dark-1"><span></span><pre>$purple-dark-1</pre></div>
      <div class="color color-pink-dark-2"><span></span><pre>$pink-dark-2</pre></div>
      <div class="color color-pink-dark-1"><span></span><pre>$pink-dark-1</pre></div>
      <div class="color color-orange-dark-2"><span></span><pre>$orange-dark-2</pre></div>
      <div class="color color-orange-dark-1"><span></span><pre>$orange-dark-1</pre></div>
      <div class="color color-yellow-dark-2"><span></span><pre>$yellow-dark-2</pre></div>
      <div class="color color-yellow-dark-1"><span></span><pre>$yellow-dark-1</pre></div>
      <div class="color color-yellow-light-1"><span></span><pre>$yellow-light-1</pre></div>
      <div class="color color-almost-white"><span></span><pre>$almost-white</pre></div>
      <div class="color color-gray-dark-1"><span></span><pre>$gray-dark-1</pre></div>
      <div class="color color-gray-light-1"><span></span><pre>$gray-light-1</pre></div>
      <div class="color color-gray-light-2"><span></span><pre>$gray-light-2</pre></div>
    </div>
  </div>
</div>
